<template name="uhoh">
  <h1>Oh dear! You shouldn't be here.</h1>
  <img style="height: 200px" src="https://styleseat-media.s3.amazonaws.com/apache_files/dog_in_wig_web.jpg">
  {{#if isPhone}}
    <h1>SuiteLife currently only works for desktops</h1>
  {{/if}}
</template>

<template name="splash">
<!-- If the user is on the /splash route and is logged in,
    the uhoh template is displayed -->
  {{#if currentUser}}
    {{> uhoh}}
  {{else}}

	{{> jumbotron}}
  {{> mission}}
  {{> features}}
  {{> signup}}

	{{/if}}
  {{> footer}}
</template>

<template name="signup">
  <div id="signup" class="signup">
    <div class="container">
      <h1>Sign Up Today!</h1>
      <form class="login-form">
        <div class="form-group">
          <input type="text" class="form-control" name="firstName"
              placeholder="first name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="lastName"
              placeholder="last name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="email"
              placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password"
              placeholder="password">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="suiteName" id="inputSuite" placeholder="Name your suite">
        </div>
        <button type="submit" class="btn btn-default"
            data-loading-text="Signing up...">
          <i class="fa fa-lg fa-fw fa-check"></i> Sign up
        </button>
      </form>
    </div>
  </div>  
</template>

<template name="jumbotron">
  <div class="jumbotron">
    <div class="container">
      <h1>SuiteLife</h1>
      <h2>Live • Together • Better</h2>
      <div class="wrapper">
        <button type="button" class="btn-lg my-btn signupButton">Sign Up</button>
        <button type="button" class="btn-lg btn-primary loginButton">Login</button>
      </div>
    </div>
  </div>
</template>

<template name="mission">
  <div class="container">
    <div class="mission">
      <h1>Welcome!</h1>
      <p>SuiteLife's mission statement is to bring living together with people into the digital age. It provides an innovative set of tools that allow users to manage the many aspects of communal living. It was inspired by our teams experience as freshmen or transfers living in UCSD housing and the tools we wished we had at our disposal. So welcome and enjoy!</p>
    </div>
    <div class="video" align="center">
      <h1>See our site overview!</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/P2NJeUprx_M" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</template>


<template name="features">
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="icons">
            <i class="fa fa-calendar fa-3"></i>
          </div>
          <h1>Chore Splitter</h1>
          <p>An intuitive tool for dividing and planning chores among a group of people.
            Keep track of your upcoming chores with our built in calendar.</p>
        </div>
        <div class="col-md-4">
          <div class="icons">
            <i class="fa fa-usd fa-3"></i>
          </div>
          <h1>Cost Splitting/IOU</h1>
          <p>Tracking debt among suitemates has never been easier with our IOU tool.
          Can't remember who bought the toliet paper last? It doesn't matter if the cost
          is split evenly among everyone. Repay debts how you want.</p> 
        </div>
        <div class="col-md-4">
          <div class="icons">
            <i class="fa fa-comments fa-3"></i>
          </div>
          <h1>Bulletin Board</h1>
          <p>Save the trees! Instead of posting passive agressive post-its above the sink,
            do so on your bulletin board. Share text or photos with suite mates.</p>
        </div>
      </div>
    </div>
  </div>
</template>




