<template name="iouLog">

	<div class="container-fluid">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Log Message</th>
				</tr>
			</thead>
			<tbody>
				<tr class="danger">
					<td>7:40PM 5/27/15</td>
					<td>Peter <b>deleted</b> the IOU <em>"Peter Yao owes Keith Ballew $5.32."</em></td>
				</tr>
				<tr class="success">
					<td>7:32PM 5/27/15</td>
					<td>Peter <b>paid</b> the IOU <em>"Peter Yao owes Keith Ballew $5.32."</em></td>
				</tr>
				<tr class="warning">
					<td>7:34PM 5/27/15</td>
					<td>Peter <b>updated</b> the IOU from <em>"Peter Yao owes Keith Ballew $5.32."</em> to
						<em>"Peter Yao owes Keith Balley "$3.00."</em></td>
				</tr>
				<tr class="info">
					<td>7:32PM 5/27/15</td>
					<td>Peter <b>created</b> a new IOU <em>"Peter Yao owes Keith Ballew $5.32."</em></td>
				</tr>
			</tbody>
		</table>

	</div>

</template>
