<template name="iousList">

	<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="">
          <h3 class="panel-title">
            <i class="fa fa-usd"></i> IOUs
          </h3>
        </div>
        
        <div class="pull-right">
          <div class="text-right">
            {{> tooltips title="IOUs" content="With the cost splitter you can easily split shared expenses. How you pay is up to you." }}
            <button class="btn btn-md btn-info log my-btn" data-toggle="modal" data-target="#iouLogModal">
              <i class="fa fa-list-alt"></i> Log
            </button>
            <button class="btn btn-md my-btn cost-splitter" data-toggle="modal" data-target="#costSplitterModal">
              <i class="fa fa-money"></i> Cost Splitter
            </button>
            <button class="btn btn-md btn-primary new costsplit-btn" data-toggle="modal" data-target="#newIouModal">
              <i class="fa fa-plus"></i> New
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="panel-body" id="iousListDiv">
      <ul class="list-group" id="iousList">
        {{#if ious.count}}
          {{#each ious}}
              {{> iouItem}}
          {{/each}}
        {{else}}
          <li class="list-group-item empty-note text-center disabled">
            No IOUs
          </li>
        {{/if}}
      </ul>
    </div>
  </div>

  <div class="modal fade" id="newIouModal" tabindex="-1" role="dialog" aria-labelledby="New IOU" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="newIouModalLabel">New IOU</h4>
        </div>
        <div class="modal-body">
          {{> iouNew }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="iouLogModal" tabindex="-1" role="dialog" aria-labelledby="IOU Log" aria-hidden="true">
    <div class="modal-dialog modal-large">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="iouLogModalLabel">IOU Log</h4>
        </div>
        <div class="modal-body">
          {{> iouLog }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="costSplitterModal" tabindex="-1" role="dialog" aria-labelledby="Cost Splitter" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="costSplitterModalLabel">Cost Splitter</h4>
        </div>
        <div class="modal-body">
          {{> costSplitter }}
        </div>
      </div>
    </div>
  </div>

</template>

<template name="iouItem">

  <li class="list-group-item {{paidColor paid}} oneChore">

      <div class="row">
        <div class="col-md-1">
          <style scoped>
            {{> completedCss}}
          </style>
          {{#if paid}}
            <input type="checkbox" name="completedCheck" id="completedCheck-{{_id}}" checked />
          {{else}}
            <input type="checkbox" name="completedCheck" id="completedCheck-{{_id}}"/>
          {{/if}}
          <label class="paid completedLabel-{{_id}}" for="completedCheck-{{_id}}"></label>
        </div>

        <div class="col-md-3 date">
            <span class="{{textColor paid}}">{{dateFormat date paid}}</span>
        </div>

        <div class="col-md-6 iou-info">
          <span class="underline-editable">
            {{> editableText collection="ious" field="reason" beforeUpdate="validateIOUReason" }}
          </span>

          <br>

          {{{amountFormat amount payerId payeeId}}} 
          <span class="underline-editable editable-text-trigger">
            ${{> editableText collection="ious" field="amount" beforeUpdate="validateIOUAmount" }}
          </span>
        </div>

        <div class="col-md-2 iou-list-buttons" align="right">
          <button class="btn btn-xs btn-danger listDeleteBtn" data-toggle="modal" data-target="#delete{{ _id }}Modal">
            <i class="fa fa-times"></i>
          </button>
      </div>
      </div>
      <!--
      <div class="row">
        <div class="col-md-8 col-md-offset-3">
          {{{amountFormat amount payerId payeeId}}} 
          <span class="money editable-text-trigger">
            ${{> editableText collection="ious" field="amount" beforeUpdate="validateIOUAmount" }}
          </span>
        </div>
      </div>
      -->
      

  </li>

  <div class="modal fade" id="delete{{ _id }}Modal" tabindex="-1" role="dialog" aria-labelledby="delete{{ _id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the IOU:<br>
          <br>
          <strong>{{ reason }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger delete">Confirm</button>
        </div>
      </div>
    </div>
  </div>

</template>


