<template name="iousList">
	<div class="container">

  	<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">IOU List  
            {{> tooltips title="IOUs" content="And here's some amazing content. It's very engaging. Right?" }}
        </h3>
      </div>
      <ul class="list-group">
        {{#each ious}}
          {{> iouItem}}
        {{/each}}
      </ul>
    </div>

    <button class="btn btn-default new">
      <a href="/iou/new">
        <span title="Create a new IOU">
          New IOU
        </span>
      </a>
    </button>
    
	</div>
</template>

<template name="iouItem">

  <li class="list-group-item {{paidColor paid}}">

    <div class="row">
      <div class="col-md-2 date">
        <!--
        <a href="#" class="datePopover" data-toggle="popover" data-html="true"
          data-trigger="focus" data-content="<input class='datetimepicker' type='text'>">
        </a>
          -->
          {{dateFormat date}}
      </div>
      <div class="col-md-6 reason">
        {{> editableText collection="ious" field="reason"}}
      </div>
      <div class="col-md-3">
        {{{amountFormat amount payerId payeeId}}} 
        <span class="money">
          ${{> editableText collection="ious" field="amount"}}
        </span>
      </div>
      <div class="col-md-1 text-right">
        <a href="#" class="text-right text-success paid"><i class="fa fa-check"></i></a>&nbsp;
        <a href="#" class="text-right text-danger delete"><i class="fa fa-times"></i></a>
      </div>
    </div>

  </li>
</template>
