<template name="iouEdit">
  <div class="container">
    {{#with iou}}
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Edit IOU</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="reason">IOU Reason</label>  
      <div class="col-md-4">
        <input id="reason" name="reason" type="text" placeholder="Give a Reason for this IOU" class="form-control input-md" required="" value="{{reason}}">
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="amount">IOU Amount</label>  
      <div class="col-md-4">
        <input id="amount" name="amount" type="text" placeholder="0.00" class="form-control input-md" required="" value="{{amount}}">
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="payer">Assign a payer:</label>
      <div class="col-md-4">
        <select id="payer" name="payer" class="form-control">
          {{#each users}}
            <option value="{{this}}">{{getUserName this}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="payee">Assign a payee:</label>
      <div class="col-md-4">
        <select id="payee" name="payee" class="form-control">
          {{#each users}}
            <option value="{{this}}">{{getUserName this}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save IOU</button>
        <button class="btn btn-default delete">Delete IOU</button>
        <a href="/iou/{{_id}}/detail" class="btn btn-default cancel">Cancel</a>
      </div>
    </div>

    </fieldset>
    </form>
    {{/with}}

  </div>
</template>