<template name="iousList">

	<div class="panel panel-default">
    <div class="panel-heading">

      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title">
            <i class="fa fa-usd"></i> IOUs
          </h3>
        </div>
        
        <div class="col-md-6">
          <div class="text-right">
            {{> tooltips title="IOUs" content="Keep track of money owed to your Suitemates with IOUs." }}
            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#newIouModal">
              <i class="fa fa-list-alt"></i> Log
            </button>

            <button class="btn btn-xs btn-primary my-btn" data-toggle="modal" data-target="#newIouModal">
              <i class="fa fa-plus"></i> New
            </button>
          </div>
        </div>

      </div>

    </div>

    <ul class="list-group homeOverflow">
      {{#if ious.count}}
        {{#each ious}}
          {{> iouItem}}
        {{/each}}
      {{else}}
        <li class="list-group-item empty-note text-center disabled">
          No IOUs
        </li>
      {{/if}}
    </ul>

  </div>

  <div class="modal fade" id="newIouModal" tabindex="-1" role="dialog" aria-labelledby="New IOU" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="newIouModalLabel">New IOU</h4>
        </div>
        <div class="modal-body">
          {{> iouNew }}
        </div>
      </div>
    </div>
  </div>

</template>

<template name="iouItem">

  <li class="list-group-item {{paidColor paid}}">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 date">
            {{dateFormat date}}
        </div>
        <div class="col-md-8 reason">
          {{> editableText collection="ious" field="reason"}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-3">
          {{{amountFormat amount payerId payeeId}}} 
          <span class="money">
            ${{> editableText collection="ious" field="amount"}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-xs btn-success paid">
            <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete{{ _id }}Modal">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>

  </li>

  <div class="modal fade" id="delete{{ _id }}Modal" tabindex="-1" role="dialog" aria-labelledby="delete{{ _id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the IOU:<br>
          <br>
          <strong>{{ reason }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger delete">Confirm</button>
        </div>
      </div>
    </div>
  </div>

</template>
