<template name="iouDetail">
  <div class="container">

{{#with iou}}

    <h2>IOU Details</h2>
    <table class="table-bordered table-striped">
      <tbody>
        <tr>
          {{!-- you can use a handlebars helper here to format the date field --}}
          <th class="col-md-3">Created</th>
          <td class="col-md-9">{{created}}</td>
        </tr>
        {{#if updated }}
        <tr>
          <th class="col-md-3">Updated</th>
          <td class="col-md-9">{{updated}}</td>
        </tr>
        {{/if}}
  
          <tr>
            <th class="col-md-3">Payer</th>
            <td class="col-md-9">{{payerId}}</td>
          </tr>
        
          <tr>
            <th class="col-md-3">Payee</th>
            <td class="col-md-9">{{payeeId}}</td>
          </tr>
        
          <tr>
            <th class="col-md-3">Reason</th>
            <td class="col-md-9">{{reason}}</td>
          </tr>
        
          <tr>
            <th class="col-md-3">Amount</th>
            <td class="col-md-9">{{amount}}</td>
          </tr>
      </tbody>
    </table>
    <hr>
    <button type="button" class="btn btn-default edit-iou">Edit this IOU</button>
    <button type="button" class="btn btn-default list-iou">IOU List</button>
    {{else}}
      <h3>There was no iou found for that ID.</h3>
    {{/with}}
  </div>
</template>