<template name="Nav">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#if Meteor.userId}}
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.png" alt="SuiteLife" class="img-responsive" />
                    </a>
                {{else}}
                    <div class="navbar-brand">
                        <img src="/images/logo.png" alt="SuiteLife" class="img-responsive" />
                    </div>
                {{/if}}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if Meteor.userId}}
                    <ul class="nav navbar-nav">
                        <li><a href="/posts/list">Posts</a></li>
                        <li><a href="/chores/view">Chores</a></li>
                        <li><a href="/ious/list">IOUs</a></li>
                    </ul>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {{> invite}}
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-leave-suite">Leave Suite</button>
    <button class="btn btn-default btn-block" id="login-buttons-send-invite">Send Invite</button>
</template>

<!-- template for the invite modal -->
<template name="invite">
    <div class="modal fade" id="inviteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Invite to Suite</h4>
                </div>
                <div class="modal-body">
                    <form class="invite-form">
                        <div class="form-group">
                          <input id="invite-emails" type="text" class="form-control" name="email"
                              placeholder="Invite Emails (separate multiple emails by commas)">
                        </div>
                        <br>
                        <button type="button" class="btn btn-warning btn-default" data-dismiss="modal">Close</button>
                        <button id="invite-submit" type="submit" class="btn btn-success btn-default"
                            data-loading-text="Sending...">
                          <i class="fa fa-lg fa-fw fa-check"></i> Invite Suitemates
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>