<template name="Nav">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <img src="/images/logo-white.svg" alt="SuiteLife" class="img-responsive" />
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="nav navbar-nav suite-name col-md-7">
                {{#with getSuite}}
                    {{> editableText collection="suites" field="name" placeholder="My Suite" removeEmpty=false}}
                {{/with}}
            </div>
            <div class="collapse navbar-collapse col-md-1" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
					{{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {{> invite}}
    {{> settings}}

    <div class="modal fade" id="deleteUserModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
              <strong>Are you sure you want to leave your suite? This will delete your account.</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="delete-my-account" class="btn btn-danger" data-dismiss="modal" >Confirm</button>
            </div>
          </div>
        </div>
    </div>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-leave-suite" data-toggle="modal" data-target="#deleteUserModal">Delete Account</button>
    <button class="btn btn-default btn-block" id="login-buttons-send-invite">Send Invite</button>
    <button class="btn btn-default btn-block" id="login-buttons-settings">Notifications Settings</button>

</template>

<!-- template for the invite modal -->
<template name="invite">
    <div class="modal fade" id="inviteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Invite to Suite
{{> tooltips title="How to Invite Suitemates" content="Add your soon-to-be Suitemates email and click the 'Invite Suitemate' button!" }}</h4>
                </div>
                <div class="modal-body">
                    <form class="invite-form">
                        <div class="form-group">
                            <input class="form-control" id="invite-url" readonly>
                        </div>
                        <div class="form-group">
                          <input id="invite-emails" type="text" class="form-control" name="email"
                              placeholder="Invite Emails (separate multiple emails by commas)">
                        </div>
                        <br>
                        <button type="button" class="btn btn-warning btn-default" data-dismiss="modal">Close</button>
                        <button id="invite-submit" type="submit" class="btn btn-success btn-default"
                            data-loading-text="Sending...">
                          <i class="fa fa-lg fa-fw fa-check"></i> Invite Suitemates
                        </button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</template>


<!-- template for the settings modal -->
<template name="settings">
  <div class="modal fade" id="settingsModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Notification Settings
              {{> tooltips title="How to setup notifications" content="Use the switches to turn on/off different types of notifications." }}</h4>
        </div>
        <div class="modal-body">
          <form class="settings-form">
            <div class="form-group">
              <label for="new-message">New Message:</label>
              <input type="checkbox" name="new-message" class="switch" checked>
            </div>
            <div class="form-group">
              <label for="new-message">New IOU:</label>
              <input type="checkbox" name="new-message" class="switch">
            </div>
            <br>
            <button type="button" class="btn btn-warning btn-default" data-dismiss="modal">Close</button>
            <button id="settings-submit" type="submit" class="btn btn-success btn-default"
                    data-loading-text="Saving...">
              <i class="fa fa-lg fa-fw fa-check"></i> Save
            </button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
