<template name="Nav">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img data-toggle="tooltip" title="Maybe we should make a 'home' button, the logo doesnt
                     seem like a 'home' button" href= "$"
                         src="/images/logo.png" alt="SuiteLife" class="img-responsive" />
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li data-toggle="tooltip" title="empty tip" href= "$">
                        <a href="/posts/list">Posts</a>
                    </li>
                    <li data-toggle="tooltip" title="empty tip" href= "$">
                        <a href="/chores/view">Chores</a>
                    </li>
                    <li data-toggle="tooltip" title="empty tip" href= "$">
                        <a href="/ious/list">IOUs</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
										{{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button  class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>