#choreCal{
	width: 50em;
	padding: 1em 5em;
}

span.glyphicon-plus-sign {
	font-size: 3em;
	color: green;
}

.fc {
  background-image:url('http://sd.keepcalm-o-matic.co.uk/i/hi-keith-whats-up.png');
  background-size: contain;
}