#choreCal {
  overflow-y: hidden;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 211, 211);
}

#editChoreDesc, #newChoreDesc {
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;       
}

#choreEditName {
  border-color: Transparent; 
  overflow: auto;       
}

#choreEditName:hover{
  border: 1px solid #ccc;
  border-radius: 4px;
}

#initialsBox {
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	background-color: #EB6E44
}

#initials{
	margin-top: 5px;
}

.choreLists{
  list-style-type: none;
}

.choreBtns.active{
  background-color: #3D3651;
  color: #fff;
}

.choreBtns{
  padding: 8px 10px;
  background: #9987ca;
  border-color: #7A6CA2;
}

.choreBtns:hover{
  background-color: #7a6ca1
}

#listName{
	color: black;
	height: 25px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none
}

#listName:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#listName:hover{
	border: 1px solid black;
}

#listDesc{
	color: black;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #ccc;
  border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none 
}

#listDesc:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#listDesc:hover{
	border: 1px solid black;
}

#doneCol{
	padding-left: 1px;
}

#statusText{
	left: 1%;
	padding-right: 0px;
	margin-top: 7px;
	font-weight: 600;
}

#comments{
	margin-top: 10px;
	width: 80%;
}

.oneChore{
	padding: 0px;
	margin-bottom: 5px;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 1px 2px #888888;
}

.list-group-item-success{
	background-color: rgba(201, 231, 201, 0.8);
}

.list-group-item-danger{
	background-color: rgba(242, 197, 196, 0.8);
}

#choresList{
	position: relative;
}

#choresList:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  background-image: url('notebook.png');
  background-position: 50% 0;
  -ms-background-size: auto;
  -o-background-size: auto;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
}

#listEditTitle{
	margin-top: 5px;
}

.listDelete{
	-webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
}

#choresPanel{

}