#choreCal {
  overflow-y: scroll;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 211, 211);
}

#newChoreDesc {
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;       
}

#initialsBox {
  padding: 1px 3px 1px 3px;
  border: 1px solid black;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	font-weight: bold;
}

#initials{
	margin-top: 5px;
}

.choreLists{
  list-style-type: none;
}

.choreBtns.active{
  background-color: #053B3B;
  color: #fff;
}

.choreBtns.active .badge{
	color: #093B4E;
	background-color: #dff3fb;
}

.choreBtns .badge{
	background-color: #053B3B;
}

.choreBtns{
  padding: 8px 10px;
  background: #0A7676;
  border-color: #093B4E;
}

.choreBtns:hover{
  background-color: #085E5E;
}

#listName{
	color: black;
	resize: none;
  width: 100%;
	height: 25px;
	font-weight: bold;
	border: 1px solid #ccc;
	border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none
}

#listName:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#listName:hover{
	border: 1px solid black;
}

#listDesc{
	color: black;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #ccc;
  border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none 
}

#listDesc:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#listDesc:hover{
	border: 1px solid black;
}

#doneCol{
	padding-left: 1px;
}

#statusText{
	left: 1%;
	padding-right: 0px;
	margin-top: 7px;
	font-weight: 600;
}

#comments{
	margin-top: 10px;
	width: 80%;
}

.oneChore{
	padding: 0px;
	margin-bottom: 5px;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 1px 2px #888888;
}

.list-group-item{
	border-radius: 4px;
}
.list-group-item-success{
	background-color: rgba(201, 231, 201, 0.8);
}

.list-group-item-danger{
	background-color: rgba(242, 197, 196, 0.8);
}

#choresList{
	position: relative;
}

#choresList:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  background-image: url('notebook.png');
  background-position: 50% 0;
  -ms-background-size: auto;
  -o-background-size: auto;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
}

#listEditTitle{
	margin-top: 5px;
}

.listDeleteBtn{
	-webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
	box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.67);
}

.editChoreDescDiv{
	padding: 0px;
}

#choreEditName{
	color: black;
	resize: none;
  width: 100%;
	height: 25px;
	border: 1px solid #ccc;
	border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none
}

#choreEditName:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#choreEditName:hover{
	border: 1px solid black;
}

#editChoreDesc{
	color: black;
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #ccc;
  border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none 
}

#editChoreDesc:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#editChoreDesc:hover{
	border: 1px solid black;
}

#editAssignee{
	color: black;
	resize: none;
  width: 100%;
	border: 1px solid #ccc;
	border-color: transparent;
	background-color: transparent;
	-webkit-box-shadow: none;
  box-shadow: none
}

#editAssignee:focus{
	outline: 0;
	border: 1px solid;
	border-color: rgba(82, 168, 236, 0.8) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#editAssignee:hover{
	border: 1px solid black;
}

.fc-day-header{
	background-color: #085E5E;
	color: #fff;
}

.fc-view .fc-widget-header{
	border: 2px solid black;
}

.fc-day-grid-event > .fc-content{
	white-space: normal;
}

.fc-state-active {
	background-color: #053B3B !important;
	border: 1px solid black !important;
	border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.fc-state-default {
	text-shadow: none;
	background-color: #0A7676;
	color: white;
	border: 2px solid white;
	border-radius: 2px;
}

.fc-state-default:focus {
	outline: none;
}

.fc-state-default.fc-corner-right {
	border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.fc-state-default.fc-corner-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.fc-state-hover {
	background-color: #085E5E !important;
}

.fc-next-button {
	border-top-right-radius: 14px !important;
  border-bottom-right-radius: 13px !important;
}

.fc-prev-button {
  border-top-left-radius: 14px !important;
  border-bottom-left-radius: 13px !important;
}

.fc-center h2{
	color: #053B3B;
}

#assignDiv{
	background-color: #053B3B;
	border-top: 1px solid white;
	padding: 1px;
}