h3 {
    cursor: hand;
    cursor: pointer;
}

.modal-body > .container {
    width: inherit;
}

.popover {
    min-width: 200px;
}

.navbar {
    background-color: #34819e;
}

#login-dropdown-list > .dropdown-toggle {
    background-color: #34819e;
    color: white;
}

@font-face {
    font-family: customTitleFont;
    src: url(fonts/helve-cursive.ttf);
}

.navbar-brand{
    padding: 10px 15px 5px 15px;
    height: 60px;
}
.navbar-brand img{
    max-height: 40px;
}

.suite-name {
    font-size:34px;
    text-align:center;
    margin-top: 12px;
    font-family: customTitleFont;
    color: #E0DBEF;
    text-align: center;
    width: 100%;
}

.dropdown-toggle {
    color: #FFFFFF;
}

.suite-name > .wide-text-edit {
    font-size: 28px;
    text-align: center;
}

.navbar-header {
    margin-left:20px;
}

.menu-item{
    color: #E0DBEF !important;
    font-size: 25px;
    margin-top: 5px;
    padding: 23px 10px 10px 10px !important;
    font-weight: 400;
}

.my-btn{
    background: #12769c;
    color: #ffffff;
}

.my-btn:hover{
    background-color: #065C7D;
    color: #ffffff;
}

.costsplit-btn{
    background-color: #0d9393;
    color: #ffffff;
    }

.costsplit-btn:hover{
    background-color: #037676;
    color: #ffffff;
    }

.q-btn{
    background-color: #dff3fb;
    }

.q-btn:hover{
    background-color: #b3dded;
    }

.chore-btn{
    background-color: #12769c; 
    }

.chore-btn:hover{
    background-color: #065c7d;
    }

.chore2-btn{
    background-color: #034863;
    }

.chore2-btn:hover{
    background-color: #065c7d;
    }


.panel-default > .panel-heading {
    color: #575757;
    background-color: #dff3fb;
}

.panel {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .15);
}

.settings-form label{
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.img-circular{
    border-radius: 50%;
}

button.selectpicker{
    color: black;
}

footer{
    text-align: center;
}

footer p {
    padding-top: 30px;
    vertical-align: center;
    margin-bottom: -5px !important;
}

footer p a {
    color: #333;
}

footer p a:hover {
    color: #0000FF;
}
