body {
        background-image: url("http://s2.postimg.org/8k831mjfs/Backgroundpaws.jpg");
        background-repeat: repeat;
        background-position: bottom;
        background-size: contain;
        background-attachment: fixed;
}

.panel-title{
	font-size: 32px;
	cursor:move;
	/*color: #FFFFFF;*/
}

.home {
	margin: 0 30px;
}

.panel-body {
	overflow-y: scroll;
}

#postsModule{
	width: 97.5%;
	min-width: 640px;
	min-height: 300px;	
	height: 300px;
}

#iousModule{
	width: 48%;
	min-width: 565px;
	min-height: 175px;
	height: 175px;
}

#choresModule{
	width: 48%;
	min-width: 565px;
	min-height: 175px;
	height: 175px;
}

#calModule{
	min-width: 640px;
	min-height: 300px;
	max-height: 1050px;
	height: 300px;
	width: 48%;
}

