body {
        background-image: url("http://s2.postimg.org/8k831mjfs/Backgroundpaws.jpg");
        background-repeat: repeat;
        background-position: bottom;
        background-size: contain;
        background-attachment: fixed;
}

.panel-title{
	font-size: 32px;
	cursor:move;
	/*color: #FFFFFF;*/
}

.home {
	margin: 0 30px;
}

.panel-body {
	overflow-y: scroll;
}

#postsModule > .panel {
	min-width: 640px;
	min-height: 300px;	
	width: 1265px;
	height: 300px;
}

#iousModule > .panel {
	min-width: 525px;
	min-height: 175px;
	width: 525px;
	height: 175px;
}

#choresModule > .panel {
	min-width: 525px;
	min-height: 175px;
	max-height: 1050px;
	width: 525px;
	height: 175px;
}

#calModule > .panel {
	min-width: 640px;
	min-height: 300px;
	width: 640px;
	height: 300px;
}


