body {
        background-image: url('BackgroundPaws.png');
        background-repeat: repeat;
        background-position: bottom;
        background-size: contain;
        background-attachment: fixed;
        background-color: #f6fbfc;
}

.panel-title{
	font-size: 24px;
	cursor:move;
	/*color: #FFFFFF;*/
    float: left;
    padding-left: 15px;
}

.panel-heading > .row > .pull-right{
    padding-right: 10px;
}

.home {
	margin: 0 30px;
}

.panel-body {
	overflow-y: scroll;
}

#postsModule{
	width: 95%;
	min-width: 640px;
	min-height: 300px;	
	height: 300px;
}

#iousModule{
	width: 47%;
	min-width: 565px;
	min-height: 175px;
	height: 175px;
}

#choresModule{
	width: 47%;
	min-width: 565px;
	min-height: 175px;
	height: 175px;
}

#calModule{
	width: 47%;
	min-width: 640px;
	min-height: 300px;
	max-height: 610px;
	height: 300px;
}

