.iou-log-table {
  border-radius: 6px;
  border: solid #9987CA 2px;
  padding: 0;
  background: lightgray;
  max-height: 250px;
  overflow-y: scroll;
}

.fa-usd {
  color: green;
}

.iou-log-tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.1em;
}

.iou-log-tbody .row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-bottom: solid #9987CA 2px;
}

.iou-log-thead .row {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: 0;
  margin-right: 0;
}

.iou-log-thead {
  background-color: lavender;
  border-bottom: solid #9987CA 2px;
}

.date {
  color: gray;
  font-weight: bold;
}

.amountPayer {
  color: #D32F2F;
}

.amountPayee {
  color: #4CAF50;
}

.bold {
  font-weight: bold;
}

.empty-note {
  font-style: italic;
  color: gray;
}

.underline-editable {
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.underline-editable:hover {
  background-color: lightgray;
}

.iou-list-buttons {
  position: absolute;
  right: 30px;
  top: 13px;
}

.money input{
    width: 50px;
}

.modal-body strong {
  margin-left: 3em;
}

.modal-large { width: 800px; }