.date {
  color: gray;
  font-weight: bold;
}

.amountPayer {
  color: #D32F2F;
}

.amountPayee {
  color: #4CAF50;
}

.bold {
  font-weight: bold;
}

.money {
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.reason {
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}