<!-- view chores in a list -->

<template name="choresList">

  {{> createChore}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
        	<h3 class="panel-title">
                <i class="fa fa-list-alt"></i> Chores List
        	</h3>
        </div>
        <div class="col-md-6 text-right">
          {{> tooltips title="Chores" content="Split-up and schedule chores with your Suitemates." }}
        </div>
      </div>
    </div>

    <div class="panel-body container-fluid">
    	<table class="table table-striped" id="listTable">
    		{{#if chores.count}}
    		<thead>
      		<tr>
      			<th>Date</th>
       			<th>Name</th>       		
        		<th>How Often</th>
            <th>How Long</th>
            <th>Description</th>
        		<th>Assigned</th>
            <th>Completed On</th>
            <th></th>
      		</tr>
    		</thead>
    		<tbody>
          {{#each chores}}
       			{{> choreItem}}
      		{{/each}}
      	</tbody>
      	{{else}}
      		<tr>
      			<td class="empty-note text-center"> No Chores</td>
      		</tr>
      	{{/if}}
    	</table>
    </div>
  </div>
</template>

<!-- chore details in a row, each part in a different column -->
<template name="choreItem">
  <tr class="{{completeColor completed}}">
  	<td>{{dateFormat startDate}}</td>
    <td>{{title}}</td>    
    <td>{{freqString frequency}}</td>
    <td>{{freqFormat freqNum}}</td>
    <td>{{isEmpty description}}</td>
    <td>{{assignFormat assignee}}</td>
    <td>
      {{#if completed}}
        <span class="text-success">{{dateFormat completedOn}}</span>
      {{/if}}
    </td>
    <td align="right">
      <button class="btn btn-xs btn-success completed">
        <i class="fa fa-check"></i>
      </button>
      <button class="btn btn-xs btn-danger listDelete">
        <i class="fa fa-times"></i>
      </button>
    </td>
  </tr>
</template>