<!-- View for the calendar -->

<!-- overall view template -->
<template name="choresView">

  <div class="panel panel-default chores-panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h3 class="panel-title">
            <i class="fa fa-calendar"></i> Chores Calendar
          </h3>
        </div>
        <div class="col-md-6 text-right">
          {{> tooltips title="Chores Calendar" content="Easily keep track of your assigned chores with Chores Calendar" }}
          <span class="btn btn-md btn-primary my-btn editable-text-trigger new">
            <i class="fa fa-plus"></i> New
          </span>
        </div>
      </div>
    </div>

    <div class="panel-body container-fluid">
      {{> choreCalendar}}
    </div>
  </div>

</template>

<!-- template for the calendar -->
<template name="choreCalendar">  
  {{>createChore}}
  <div id="choreCal">
    {{>fullcalendar options}}
  </div>
</template>

<!-- template for the create modal -->
<template name="createChore">
  <div class="modal fade" id="createChoreModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{modalTitle}}</h4>
        </div>
        <div class="modal-body">
          <!-- Dynamic template switching for the body - use Session.set to set activeModal -->
          {{#if activeModal}}
            {{> Template.dynamic template=activeModal}}
          {{/if}}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
