<!-- view for editting chores -->
<template name="editChoreForm">
    
    <!-- form with values previously entered -->
    {{#with choreEvent}}
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Edit Chore</legend>

    <!-- Chore name -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="choreName">Chore Name</label>  
      <div class="col-md-4">
        <input id="choreName" name="choreName" type="text" placeholder="Name Your Chore" class="form-control input-md" required="" value="{{title}}">
      </div>
    </div>

    <div id="datepicker"></div>

    <!-- Multiple Radios (inline) -->
    <div class="control-group">
      <label class="col-md-4 control-label" for="repeat-freqs">Repeat Every:</label>
      <div class="controls">
        <label class="radio-inline" for="repeat-freqs-0">
          <input type="radio" name="repeat-freqs" id="repeat-freqs-0" value="Daily" checked="checked">
          Daily
        </label>
        <label class="radio-inline" for="repeat-freqs-1">
          <input type="radio" name="repeat-freqs" id="repeat-freqs-1" value="Weekly">
          Weekly
        </label>
        <label class="radio-inline" for="repeat-freqs-2">
          <input type="radio" name="repeat-freqs" id="repeat-freqs-2" value="Bi-weekly">
          Bi-weekly
        </label>
        <label class="radio-inline" for="repeat-freqs-3">
          <input type="radio" name="repeat-freqs" id="repeat-freqs-3" value="Monthly">
          Monthly
        </label>
      </div>
    </div>

    <!-- assign select -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="assignee">Assign to roommate:</label>
      <div class="col-md-4">
        <select id="assignee" name="assignee" class="form-control">
          {{#each users}}
            <option value="{{this}}">{{getUserName this}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save Chore</button>
        <button class="btn btn-default delete">Delete Chore</button>
      </div>
    </div>

    </fieldset>
    </form>
    {{/with}}
</template>