<template name="newChoreForm">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>New Chore</legend>

  <!-- Chore name -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="choreName">Chore Name</label>  
    <div class="col-md-4">
      <input id="choreName" name="choreName" type="text" placeholder="Name Your Chore" class="form-control input-md" required="">
    </div>
  </div>


  <!--<input type="text" class="form-control" id="datepicker">-->
  <div class="col-md-6">
    {{> dates}}
  </div>



  <!-- Multiple Radios (inline) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="repeat-freqs">Repeat Every:</label>
    <div class="col-md-4">
      <label class="radio-inline" for="repeat-freqs-0">
        <input type="radio" name="repeat-freqs" id="repeat-freqs-0" value="0" checked="checked">
        Once
      </label>
      <label class="radio-inline" for="repeat-freqs-1">
        <input type="radio" name="repeat-freqs" id="repeat-freqs-1" value="1">
        Daily
      </label>
      <label class="radio-inline" for="repeat-freqs-2">
        <input type="radio" name="repeat-freqs" id="repeat-freqs-2" value="7">
        Weekly
      </label>
      <label class="radio-inline" for="repeat-freqs-3">
        <input type="radio" name="repeat-freqs" id="repeat-freqs-3" value="14">
        Bi-weekly
      </label>
      <label class="radio-inline" for="repeat-freqs-4">
        <input type="radio" name="repeat-freqs" id="repeat-freqs-4" value="30">
        Monthly
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="freqNum">for</label>
    <div class="col-md-5">
      <div class="input-group">
        <input id="freqNum" name="freqNum" class="form-control" placeholder="1" type="text">
        <span class="input-group-addon" id="freqString">day</span>
      </div>
    </div>
  </div>

  <!-- List for assign -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="assignee">Assign to roommate:</label>
    <div class="col-md-4">
      <select id="assignee" name="assignee" class="form-control">
        {{#each users}}
            <option value="{{this}}">{{getUserName this}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="form-group">
      <div class="text-right">
        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  <!--<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>-->

  </fieldset>
  </form>
</template>

<template name="dates">
  <div id="datepicker"></div>
</template>