<!-- view for editting chores -->
<template name="editChoreForm">
    <div class="container-fluid">
    <!-- form with values previously entered -->
    {{#with choreEvent}}
    <form class="form-horizontal">
    <fieldset>

    <div class="row" align="center">
    	<div class="col-md-6">
      	{{> dates}}
      </div>
    
      <div class="col-md-6">
      	<!-- Chore name -->
    		<div class="form-group" align="left">
      		<label class="row control-label" for="choreName">Chore Name</label>  
      		<div class="row">
						<div class="col-md-10">
        			<input id="choreEditName" name="choreName" type="text" placeholder="Name Your Chore" class="form-control input-md" required="" value="{{title}}" maxlength="60">
      			</div>
      		</div>
    		</div>

      <!-- List for assign -->
    		<div class="form-group" align="left">
      		<label class="row control-label" for="assignee">Assign to suitemate:</label>
      			<div class="row">
      				<div class="col-md-10">
        				<select class="form-control" id="editAssignee" name="assignee">
                  {{#each users}}
                      <option value="{{this}}" selected="{{selected ../assignee this}}">{{getUserName this}}</option>
                  {{/each}}
                </select>
        			</div>
        		</div>
      	</div>

        <div class="form-group" align="left">
          <label class="control-label" for="choreDesc">Comments (optional)</label>
          <div class="controls col-md-10 editChoreDescDiv">                     
            <textarea id="editChoreDesc" name="choreDesc" placeholder="Add comments here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Add comments here'" maxlength="140" rows="4">{{description}}</textarea>
          </div>
        </div>

    	</div>
    </div>

    <div class="form-group">
        <div class="text-right">
          <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger delete">Delete Chore</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </div>

    </fieldset>
    </form>
    {{/with}}
  </div>
</template>