<!-- View for the calendar -->

<!-- overall view template -->
<template name="choresView">

  <span class="glyphicon glyphicon-plus-sign new" aria-hidden="true"></span>
  <div>

    {{> choreCalendar}}
    {{> syncCal}}
  </div>
</template>

<!-- template for the calendar -->
<template name="choreCalendar">  

  <div class="container">
    <h2>Chores Calendar
      {{> tooltips title="Chores Calendar" content="Easily keep track of your assigned chores with Chores Calendar" }}
    </h2>
    {{>createChore}}
    
    <div id="choreCal">
      {{>fullcalendar options}}
    </div>

  </div>
</template>


<!-- Sync Calendar button -->
<template name="syncCal">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sync</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
  </ul>
  {{> tooltips title="Sync Calendar" content="This button syncs the calendar"}}
</div>
</template>

<!-- template for the create modal -->
<template name="createChore">
  <div class="modal fade" id="createChoreModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!--<h4 class="modal-title">Create a New Chore</h4>-->
        </div>
        <div class="modal-body">
          <!-- Dynamic template switching for the body - use Session.set to set activeModal -->
          {{#if activeModal}}
            {{> Template.dynamic template=activeModal}}
          {{/if}}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
