<template name="newChoreForm">
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Create a New Chore</legend>

  <!-- Chore name -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="choreName">Chore Name</label>  
    <div class="col-md-4">
      <input id="choreName" name="choreName" type="text" placeholder="Name Your Chore" class="form-control input-md" required="">
    </div>
  </div>


  <input id="datetimepicker" type="text">

  <!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="col-md-4 control-label" for="repeat-freqs">Repeat Every:</label>
  <div class="controls">
    <label class="radio-inline" for="repeat-freqs-0">
      <input type="radio" name="repeat-freqs" id="repeat-freqs-0" value="Day" checked="checked">
      Day
    </label>
    <label class="radio-inline" for="repeat-freqs-1">
      <input type="radio" name="repeat-freqs" id="repeat-freqs-1" value="Week">
      Week
    </label>
    <label class="radio-inline" for="repeat-freqs-2">
      <input type="radio" name="repeat-freqs" id="repeat-freqs-2" value="Two Weeks">
      Two Weeks
    </label>
    <label class="radio-inline" for="repeat-freqs-3">
      <input type="radio" name="repeat-freqs" id="repeat-freqs-3" value="Month">
      Month
    </label>
  </div>
</div>

  <!-- Frequency -->
  <!--<div class="form-group">
    <label class="col-md-4 control-label" for="choreRepeat"></label>
    <div class="col-md-4">
      <div class="checkbox">
        <label for="choreRepeat-0">
          <input type="checkbox" name="choreRepeat" id="choreRepeat-0" value="Once">
          Repeat Weekly
        </label>
      </div>
    </div>
  </div>-->

  <!-- List for assign -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="choreAssign">Assign to roommate:</label>
    <div class="col-md-4">
      <select id="choreAssign" name="choreAssign" class="form-control">
        <option value="Tai">Tai</option>
        <option value="John">John</option>
        <option value="Peter">Peter</option>
        <option value="Andrei">Andrei</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>

  </fieldset>
  </form>
</template>

<!-- Possibly modal here -->