<!-- view chores in a list -->

<template name="choresList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
        	<h3 class="panel-title">
                <i class="fa fa-list-alt"></i> Chores List
        	</h3>
        </div>
        <div class="col-md-6 text-right">
          {{> tooltips title="Chores" content="Split-up and schedule chores with your Suitemates." }}
        </div>
      </div>
    </div>

    <div class="panel-body container-fluid homeOverflow" id="choreList">
      <ul class="list-group">
        {{#if chores.count}}
          {{#each chores}}
            {{> choreItem}}
          {{/each}}
        {{else}}
          <li class="list-group-item empty-note text-center disabled">
            There are no chores! Add a chore by clicking a specific date or the New button on the calendar.
          </li>
      {{/if}}
      </ul>

      <!--<table class="table table-striped" id="listTable">
    		{{#if chores.count}}
    		<thead>
      		<tr>
      			<th>Date</th>
       			<th>Name</th>
            <th>Description</th>
        		<th>Assigned</th>
            <th>Completed On</th>
            <th></th>
      		</tr>
    		</thead>
    		<tbody>
          {{#each chores}}
       			{{> choreItem}}
      		{{/each}}
      	</tbody>
      	{{else}}
      		<tr>
      			<td class="empty-note text-center"> No Chores</td>
      		</tr>
      	{{/if}}
    	</table>-->
    </div>
  </div>
</template>

<!-- chore details in a row, each part in a different column -->
<template name="choreItem">
  <li class="list-group-item {{completeColor completed startDate}}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" id="dateHeader">
          {{dateFormat startDate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1" id ="initials" align="left">
          {{assignFormat assignee}}
        </div>
        <div class="col-md-9" id="editTitle">
          {{> editableText collection="chores" field="title"}}
        </div>
        <div class="col-md-2">
          <i class="fa fa-comment"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {{#if completed}}
            <span class="text-success">{{dateFormat completedOn}}</span>
          {{/if}}
        </div>
        <div class="col-md-4" align="right">
          <button class="btn btn-xs btn-success completed">
            <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-xs btn-danger listDelete">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>


    </div>
  </li>
    <!--<td><span id="editDesc">{{> editableText collection="chores" field="description" acceptEmpty="true" substitute="N/A"}}</span></td>-->
      
</template>