<template name="dropdown">
	<div class="dropdown">
	  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    {{text}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    {{#each list}}
	    	<li class="list_item" id="{{_id}}"> {{name}} </li>		<!-- TODO , change the way to access id -->
	    {{/each}}
	  </ul>
	</div>
</template>

<!-- example use: {{> dropdown text="Pick a suite" list=suites }} 
TODO: refactor to be more extendable.... for example, pass in the li class-->
