<head>
	<title>SuiteLife</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
</head>

<body>
	{{> sAlert}}
	{{> Nav }}
</body>

<template name="defaultLayout">
  {{> yield}} <!-- Iron Router replaces this with a template from routes.coffee see http://www.manuel-schoebel.com/blog/iron-router-tutorial-->
</template>